@media only screen and (max-width: 600px){
    body{
        zoom: 2;
    }    
}

*{
    margin: 0;
    padding: 0;
}

article.filter{
    width: max-content;
    box-shadow: gray inset 0 1px 10px;
    border-radius: 10px;
    padding: 20px;
    margin: 0 10px;
    background-color: white;
    position: fixed;
    z-index: 1;
}

article form{    
    display: flex;
    flex-direction: column;
}

article.filter p{
    margin: 5px;
}

article.filter input{
    width: max-content;
    height: 28px;
}

article.filter select{
    height: 30px;
}

article.filter input[type=button]{
    margin-bottom: 5px;
    margin-top: auto;
    width: auto;
    cursor: pointer;
}

article.filter input, select{
    border-radius: 3px;
    margin: 2px;
    border: solid 1px gray;
    width: 150px;
}

article.filter div{
    margin: 2px;
    width: max-content;
}

article.filter form{
    display: flex;
    text-align: center;
}

form div{
    display: flex;
    flex-direction: column;
}

main{
    text-align: center;
}

textarea{
    width: 650px;
}

.table{    
    background-color: white;
    box-shadow: gray 0 5px 15px;
    margin: 20px auto;
    padding: 5px;
    width: max-content;
    font-size: small;
}

table{    
    border-spacing: 0;
    border-collapse: collapse;
}

td, th{
    border: solid 1px gray;
    max-width: 50px;
    height: 25px;
    padding: 0 10px;    
    font-weight: normal;
    text-align: center;
}

.disable{
    display: none;
}

.colorRed{
    color: red;
    font-weight: bold;
}

.min-120{
    min-width: 120px;
}

.min{
    width: max-content;
}

li{
    list-style: none;
    border: gray 1px dotted;
}

input{
    width: 95%;
}

td[data-js="remove"]{    
    color: white;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 30px;

}

td[data-js="remove"] span{ 
    background-color: red;
    border-radius: 50%;
    padding: 0 5px;
    cursor: pointer;
  }

.info{   
    margin-top: 50px;
    padding: 10px;
    border-radius: 8px;
    background-color: rgba(255, 255, 0, 0.5);
    color: red;
    border: orange 2px solid;
    width: 650px;
    margin: auto;
}

img{
    width: 100%;
    height: 200%;
}

.no-editable{
    background-color: rgba(128, 128, 128, 0.15);
    font-weight: bold;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
    z-index: 1000;
}

.modal.close{
    display: none;
}

.modal.open{
    display: block;
}

.content-modal{
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: white;
    margin: 50px auto;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    align-items: center;
    border: black 1px solid;
    box-shadow: black 1px 1px 8px;
    background-color: gainsboro;
}

button{
    background-color: rgb(27, 128, 245);
    color: white;
    font-weight: bold;
    padding: 8px 50px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.content-modal .close{
    background-color: red;
    border: black solid 1px;
    color: white;
    font-family: arial;
    font-weight: bold;
    border-radius: 50%;
    padding: 0 4px;
    position: relative;
    top: -18px;
    right: -155px;
    cursor: pointer;
}

.content-modal input{
    margin: 10px;
    height: 30px;
    font-size: 15px;
    text-align: center;
    border-radius: 5px;
    background-color: white;
}

.inconsistency{
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 10px;    
}

.error{
    background-color: rgba(255, 0, 0, 0.3);
    border: 2px solid red;
    color: red;
}

.warn{
    background-color: #ff4400c0;
    border: 2px solid yellow;
    color: yellow;
}

.modal form{
    background-color: white;
    width: 500px;
    height: 87vh;
    box-shadow: gray 5px 5px 5px;
    border-radius: 10px;
    margin:3vh auto;
    padding: 20px;
}

.modal form div{
    overflow-y: scroll;
    height: 95%;
}

.modal form table thead tr{
    background-color: rgba(128, 128, 128, 0.479);
    font-weight: bold;
}

.modal form table tbody tr:hover{
    background-color: rgba(0, 102, 255, 0.582);
    color: white;
}

.modal form input{
    padding: 5px;
    margin-bottom: 5px;
}

.modal form table{
    width: 95%;
} 

@media print{
    .no-print{
        display: none;
    }

    .no-editable{
        background-color: gray;
    }
}